EquationDesktop/WebContent/wsdl/ServiceDirectoryTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ui.equation.misys.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ui.equation.misys.com" xmlns:intf="http://services.ui.equation.misys.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ui.equation.misys.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="xaTests">
    <complexType>
     <sequence>
      <element name="sessionIdentifier" type="xsd:string"/>
      <element name="transactionIdentifier" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="xaTestsResponse">
    <complexType>
     <sequence>
      <element name="xaTestsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="xaTestsResponse">

      <wsdl:part element="impl:xaTestsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="xaTestsRequest">

      <wsdl:part element="impl:xaTests" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ServiceDirectoryTest">

      <wsdl:operation name="xaTests">

         <wsdl:input message="impl:xaTestsRequest" name="xaTestsRequest"/>

         <wsdl:output message="impl:xaTestsResponse" name="xaTestsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceDirectoryTestSoapBinding" type="impl:ServiceDirectoryTest">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="xaTests">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="xaTestsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="xaTestsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceDirectoryTestService">

      <wsdl:port binding="impl:ServiceDirectoryTestSoapBinding" name="ServiceDirectoryTest">

         <wsdlsoap:address location="http://localhost:8080/EquationDesktop/services/ServiceDirectoryTest"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
